.catalogueFilter {
    background-color: white;
    border: 2px solid blue;
    border-radius: 5px;
    padding: 5px;
    margin-left: 20px;
}

.catalogueProducts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.catalogueTopRents {

}

