.grid {
    display: grid;
    grid-template-columns: 15% 65% 20%;
    /*grid-gap: 10px;*/
    /*grid-auto-rows: minmax(50px, auto);*/
}

.menuButton {
    margin-bottom: 10px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    text-align: center;
    line-height: 1.5;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 100%;
}

.menuButton:hover,
.menuButton:focus {
    background-color: #1f3c8a;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.menuButton:active {
    background-color: #4fa3fa;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}
