.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 2em;
    height: 2em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.confirmButton {
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Monospaced, "Lucida Bright";
    color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px 0;
    text-align: center;
    border-radius: 15px;
    transition: 0.5s;
    cursor: pointer;
    width: 150px;
    line-height: 30px;
    margin-top: 20px;
    margin-right: 0;
    margin-left: auto;
    background-color: #4fa3fa;
}

.confirmButton:hover {
    background-color: #1f3c8a;
}
